/* customized checkbox */
.custom-control-label::before, 
.custom-control-label::after {
    width: 1.15rem;
    height: 1.15rem;
}

/* acknowledgment form fields */
.guest-form-label {
    font-size: 16px;
}

.guest-form-data {
    font-size: 14px;
}

#signatureImage {
    border: 2px dotted #CCCCCC;
    border-radius: 15px;
    cursor: crosshair;
}