/* customized checkbox */
.custom-control-label::before, 
.custom-control-label::after {
    width: 1.15rem;
    height: 1.15rem;
}

/* acknowledgment form fields */
.guest-form-label {
    font-size: 16px;
}

.guest-form-data {
    font-size: 14px;
}

#signatureImage {
    border: 2px dotted #CCCCCC;
    border-radius: 15px;
    cursor: crosshair;
}

/* custom datatables design */
@keyframes spinner {
    to {transform: rotate(360deg);}
}
   
.spinner:before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #ccc;
    border-top-color: #333;
    animation: spinner .6s linear infinite;
}

.dataTables_processing {
    position: absolute;
    top: -8vh;
    right: 52%;
}

.dataTables_empty {
    text-align: center;
}

.dataTables_filter {
    float: right;
    position: relative;
    height: 35px;
}

.dataTables_filter > label {
    height: 100%;
}

.dataTables_filter > label > input {
    height: 100%;
}

table.dataTable th {
    outline: none;
}

a.dt-action-btn:hover {
    text-decoration: none;
}
